<div class="container">
  <h1 class="header">Editing Note</h1>
<div class="content">
  <%= render 'form', note: @note %>

  <%= link_to 'Show', @note , :class => "btn btn-success" %>
  <%= link_to 'Back', notes_path , :class => "btn btn-warning"%>


</div>
</div>